NEXT_PUBLIC_APP_NAME="Cobertura"
NEXT_PUBLIC_APP_VER="2.0"
NEXT_PUBLIC_APP_INFO="Mapeo de Sujetos Obligados en la PDN"

NEXT_PUBLIC_BACKEND_URL=http://localhost:8055
NEXT_PUBLIC_URL=http://localhost:3000

# Run this command to generate a a new NEXTAUTH_SECRET and DATABASE_PASSWORD
# $ openssl rand -base64 32

NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=kgcYKV1vfUHdBIxS82USUe9oBlVTqbEauiVoR
NEXT_TELEMETRY_DISABLED=1

DATABASE_NAME=directus
DATABASE_USERNAME=userpg
DATABASE_PASSWORD=kMs7pUiO214fskdfo

DIRECTUS_ADMIN_EMAIL=ejemplo@dominio.com
DIRECTUS_ADMIN_PASSWORD=directusPassword
DIRECTUS_KEY=replace-with-random-value
DIRECTUS_SECRET=replace-with-random-value
